@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,300&display=swap');



body{
	background-color: grey;
}

p{
	font-size: 30px;
	height: 50px;
	letter-spacing: 2px;
}

#formularz{
	margin-left: auto;
	margin-right: auto;
	margin-top: 200px;
	margin-bottom: auto;
	text-align: center;
	border: 1px solid black;
	height: 350px;
	width: 350px;
	box-shadow: 2px 2px 7px;
	font-family: 'Lato', sans-serif;
}

#username{
	width: 230px;
	height: 50px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: auto;	
	text-align: left;
	letter-spacing: 1px;
	font-size: 15px;
	padding-left: 20px;
	font-family: 'Lato', sans-serif;
}

#password{
	width: 230px;
	height: 50px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: auto;
	text-align: left;
	letter-spacing: 1px;
	font-size: 15px;
	padding-left: 20px;
	font-family: 'Lato', sans-serif;
}

#submit{
	margin-top: 48px; 
	border: black;
	width: 350px;
	height: 50px;
	font-size: 20px;
	font-family: 'Lato', sans-serif;
}

#submit:hover{
	background-color: black;
	color: white;
}

img{
	width: 500px;
	height: 750px;
}